In [1]:
import sqlite3
import os

In [2]:
db_path = os.path.join("..", "db", "database.db")
conn = sqlite3.connect(db_path)
cursor = conn.cursor()

In [3]:
create_students_table = """
CREATE TABLE STUDENTS (
    STUDENT_ID INTEGER PRIMARY KEY,
    FIRST_NAME VARCHAR(50),
    LAST_NAME VARCHAR(50),
    AGE INTEGER,
    EMAIL VARCHAR(50),
    LOAD_DATE TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    UPDATE_DATE TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);
"""

In [4]:
create_instructors_table = """
CREATE TABLE INSTRUCTORS (
    INSTRUCTOR_ID INT PRIMARY KEY,
    FIRST_NAME VARCHAR(50),
    LAST_NAME VARCHAR(50),
    EMAIL VARCHAR(100),
    LOAD_DATE TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    UPDATE_DATE TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);
"""

In [11]:
create_courses_table = """
CREATE TABLE COURSES (
    COURSE_ID INT PRIMARY KEY,
    COURSE_NAME VARCHAR(100),
    COURSE_DESCRIPTION TEXT,
    INSTRUCTOR_ID INT,
    DURATION_HOURS INT,
    LOAD_DATE TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    UPDATE_DATE TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (INSTRUCTOR_ID) REFERENCES INSTRUCTORS(INSTRUCTOR_ID)
);
"""

In [6]:
create_table_students_courses = """
CREATE TABLE STUDENTS_COURSES (
    STUDENTS_COURSES_ID INT PRIMARY KEY,  
    STUDENT_ID INT,
    COURSE_ID INT,
    ENROLLMENT_DATE TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    LOAD_DATE TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    UPDATE_DATE TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (STUDENT_ID) REFERENCES STUDENTS(STUDENT_ID),
    FOREIGN KEY (COURSE_ID) REFERENCES COURSES(COURSE_ID)
);
"""

In [14]:
cursor.execute("DROP TABLE IF EXISTS STUDENTS_COURSES;")
cursor.execute("DROP TABLE IF EXISTS COURSES;")
cursor.execute("DROP TABLE IF EXISTS INSTRUCTORS;")
cursor.execute("DROP TABLE IF EXISTS STUDENTS;")

In [15]:
cursor.execute(create_students_table)
cursor.execute(create_instructors_table)
cursor.execute(create_courses_table)
cursor.execute(create_table_students_courses)

In [17]:
students_data = [
    (1, "Ana", "Gómez", 21, "ana@email.com"),
    (2, "Luis", "Pérez", 22, "luis@email.com"),
    (3, "María", "Rodríguez", 20, "maria@email.com"),
    (4, "Carlos", "Ramírez", 23, "carlos@email.com"),
    (5, "Elena", "Torres", 24, "elena@email.com")
]

cursor.executemany("""
INSERT INTO STUDENTS (STUDENT_ID, FIRST_NAME, LAST_NAME, AGE, EMAIL)
VALUES (?, ?, ?, ?, ?)
""", students_data)

In [18]:
instructors_data = [
    (1, "Miguel", "Herrera", "miguel@email.com"),
    (2, "Laura", "Sánchez", "laura@email.com"),
    (3, "Pedro", "López", "pedro@email.com"),
    (4, "Sofía", "Díaz", "sofia@email.com"),
    (5, "Andrés", "Martínez", "andres@email.com")
]

cursor.executemany("""
INSERT INTO INSTRUCTORS (INSTRUCTOR_ID, FIRST_NAME, LAST_NAME, EMAIL)
VALUES (?, ?, ?, ?)
""", instructors_data)

In [19]:
courses_data = [
    (1, "Python Básico", "Introducción a la programación con Python", 1, 20),
    (2, "SQL Intermedio", "Consultas y joins en bases de datos", 2, 15),
    (3, "Machine Learning", "Modelos supervisados y no supervisados", 3, 30),
    (4, "Visualización de Datos", "Gráficos con matplotlib y seaborn", 4, 10),
    (5, "ETL con Python", "Procesos de extracción, transformación y carga", 5, 25)
]

cursor.executemany("""
INSERT INTO COURSES (COURSE_ID, COURSE_NAME, COURSE_DESCRIPTION, INSTRUCTOR_ID, DURATION_HOURS)
VALUES (?, ?, ?, ?, ?)
""", courses_data)

In [20]:
students_courses_data = [
    (1, 1, 1),  # Ana en Python
    (2, 2, 2),  # Luis en SQL
    (3, 3, 1),  # María en Python
    (4, 4, 3),  # Carlos en Machine Learning
    (5, 5, 4)   # Elena en Visualización
]

cursor.executemany("""
INSERT INTO STUDENTS_COURSES (STUDENTS_COURSES_ID, STUDENT_ID, COURSE_ID)
VALUES (?, ?, ?)
""", students_courses_data)

In [21]:
for table in ["STUDENTS", "INSTRUCTORS", "COURSES", "STUDENTS_COURSES"]:
    print(f"\nTabla {table}:")
    cursor.execute(f"SELECT * FROM {table};")
    for row in cursor.fetchall():
        print(row)

Tabla STUDENTS:
(1, 'Ana', 'Gómez', 21, 'ana@email.com', '2025-03-23 00:07:08', '2025-03-23 00:07:08')
(2, 'Luis', 'Pérez', 22, 'luis@email.com', '2025-03-23 00:07:08', '2025-03-23 00:07:08')
(3, 'María', 'Rodríguez', 20, 'maria@email.com', '2025-03-23 00:07:08', '2025-03-23 00:07:08')
(4, 'Carlos', 'Ramírez', 23, 'carlos@email.com', '2025-03-23 00:07:08', '2025-03-23 00:07:08')
(5, 'Elena', 'Torres', 24, 'elena@email.com', '2025-03-23 00:07:08', '2025-03-23 00:07:08')

Tabla INSTRUCTORS:
(1, 'Miguel', 'Herrera', 'miguel@email.com', '2025-03-23 00:07:21', '2025-03-23 00:07:21')
(2, 'Laura', 'Sánchez', 'laura@email.com', '2025-03-23 00:07:21', '2025-03-23 00:07:21')
(3, 'Pedro', 'López', 'pedro@email.com', '2025-03-23 00:07:21', '2025-03-23 00:07:21')
(4, 'Sofía', 'Díaz', 'sofia@email.com', '2025-03-23 00:07:21', '2025-03-23 00:07:21')
(5, 'Andrés', 'Martínez', 'andres@email.com', '2025-03-23 00:07:21', '2025-03-23 00:07:21')

Tabla COURSES:
(1, 'Python Básico', 'Introducción a la programación con Python', 1, 20, '2025-03-23 00:07:26', '2025-03-23 00:07:26')
(2, 'SQL Intermedio', 'Consultas y joins en bases de datos', 2, 15, '2025-03-23 00:07:26', '2025-03-23 00:07:26')
(3, 'Machine Learning', 'Modelos supervisados y no supervisados', 3, 30, '2025-03-23 00:07:26', '2025-03-23 00:07:26')
(4, 'Visualización de Datos', 'Gráficos con matplotlib y seaborn', 4, 10, '2025-03-23 00:07:26', '2025-03-23 00:07:26')
(5, 'ETL con Python', 'Procesos de extracción, transformación y carga', 5, 25, '2025-03-23 00:07:26', '2025-03-23 00:07:26')

Tabla STUDENTS_COURSES:
(1, 1, 1, '2025-03-23 00:07:46', '2025-03-23 00:07:46', '2025-03-23 00:07:46')
(2, 2, 2, '2025-03-23 00:07:46', '2025-03-23 00:07:46', '2025-03-23 00:07:46')
(3, 3, 1, '2025-03-23 00:07:46', '2025-03-23 00:07:46', '2025-03-23 00:07:46')
(4, 4, 3, '2025-03-23 00:07:46', '2025-03-23 00:07:46', '2025-03-23 00:07:46')
(5, 5, 4, '2025-03-23 00:07:46', '2025-03-23 00:07:46', '2025-03-23 00:07:46')

In [22]:
conn.commit()