In [1]:
import sqlite3
import os

In [2]:
db_path = os.path.join("..", "db", "database.db")
conn = sqlite3.connect(db_path)
cursor = conn.cursor()

In [5]:
query_select_courses = """
SELECT * FROM COURSES
ORDER BY COURSE_NAME ASC;
"""

In [ ]:
# option 1 - how to print output with fetch
cursor.execute(query_select_courses)

rows = cursor.fetchall()

for row in rows:
    print(row)

(5, 'ETL con Python', 'Procesos de extracción, transformación y carga', 5, 25, '2025-03-23 00:07:26', '2025-03-23 00:07:26')
(3, 'Machine Learning', 'Modelos supervisados y no supervisados', 3, 30, '2025-03-23 00:07:26', '2025-03-23 00:07:26')
(1, 'Python Básico', 'Introducción a la programación con Python', 1, 20, '2025-03-23 00:07:26', '2025-03-23 00:07:26')
(2, 'SQL Intermedio', 'Consultas y joins en bases de datos', 2, 15, '2025-03-23 00:07:26', '2025-03-23 00:07:26')
(4, 'Visualización de Datos', 'Gráficos con matplotlib y seaborn', 4, 10, '2025-03-23 00:07:26', '2025-03-23 00:07:26')

In [11]:
# option 2 - how to print output with pandas
import pandas as pd

df_courses = pd.read_sql(query_select_courses, conn)
df_courses.head()

,COURSE_ID,COURSE_NAME,COURSE_DESCRIPTION,INSTRUCTOR_ID,DURATION_HOURS,LOAD_DATE,UPDATE_DATE
0,5,ETL con Python,"Procesos de extracción, transformación y carga",5,25,2025-03-23 00:07:26,2025-03-23 00:07:26
1,3,Machine Learning,Modelos supervisados y no supervisados,3,30,2025-03-23 00:07:26,2025-03-23 00:07:26
2,1,Python Básico,Introducción a la programación con Python,1,20,2025-03-23 00:07:26,2025-03-23 00:07:26
3,2,SQL Intermedio,Consultas y joins en bases de datos,2,15,2025-03-23 00:07:26,2025-03-23 00:07:26
4,4,Visualización de Datos,Gráficos con matplotlib y seaborn,4,10,2025-03-23 00:07:26,2025-03-23 00:07:26